<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>simply_metrics</title>
    <style>
        body {
            background-color: #f8bdf8;
        }
        h1 {
            text-align: center;
        }
        #p1 {
            text-align: left;
        }
    </style>
</head>
<body>
    <h1> <u> Welcome to simply_metrics about page </u> </h1>

    <h3> About simply_metrics </h3>
    <p id="p1">Simply metrics is a backend APM that monitors the performance of request latency and cpu_usage of a web app</p>
    <p>Leveraging on Telex.im, metrics notifications are sent to the telex channel. <br>
    Not only that, creating a telex in-built app, and configuring it, telex wis able to check the performance of the app at a set interval.</p>

</body>
</html>